.screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainBox {
    background-color: rgb(98, 98, 116);
    width: fit-content;
    border-radius: 15px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(150, 10px);
    grid-template-rows: repeat(80, 10px);
}

.pixel {
    background-color: white;
    width: 10px;
    height: 10px;
    transition: .3s;
    border: none;
    padding: 0;
    background: none;
}

/* Esse linha é oq esta tirando mesmo o padding do quadradinho, pois esse padding eh do navegador */
.pixel::-webkit-color-swatch-wrapper {
    padding: 0;
}

/* Essa linha é oq tira a bordinha do input */
.pixel::-webkit-color-swatch {
    border: none;
}

.pixel:hover {
    background-color: rgb(162, 162, 173);
}