<div class="screen">
    <div class="mainBox">
        @for (row of pixels; track $index) {
        <div class="row">
            @for (pixel of row; track $index) {
                <input [value]="pixel.color" (onChange)="updateData(pixel)" />
            }
        </div>
    }
    </div>
    <div class="navColors">
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
        <div class="color"></div>
    </div>
</div>